<%= form_with(model: [blog_element]) do |form| %>
  <% if blog_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_element.errors.count, "error") %> prohibited this blog_element from being saved:</h2>

      <ul>
        <% blog_element.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :post_id, value: post.id %>
  <%= form.hidden_field :element_type, value: 'paragraph' %>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit 'Add paragraph' %>
  </div>
<% end %>
