<footer class="bg-dark text-light w-100 m-0 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex justify-content-center justify-content-sm-start mb-5">
          <a class="d-block navbar-brand" href="#">
            <img src="" alt="" width="30" height="24">
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-sm-around flex-wrap">
          <div class="min-w-200 mx-auto mx-sm-0">
            <ul class="list-unstyled">
              <li class="text-center-sm">
                <%= link_to 'Blog', root_path, class: 'text-decoration-none text-light ls-6' %>
              </li>
              <li class="text-center-sm">
                <%= link_to 'About', about_path, class: 'text-decoration-none text-light ls-6' %>
              </li>
              <li class="text-center-sm">
                <%= link_to 'Contact', contacts_path, class: 'text-decoration-none text-light ls-6' %>
              </li>
            </ul>
          </div>
          <div class="min-w-200 mb-4 mx-auto mx-sm-0">
            <ul class="list-unstyled">
              <li class="text-center-sm">
                <button class="text-light ls-6 bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#termsModal">Terms</button>
              </li>
              <li class="text-center-sm">
                <button class="text-light ls-6 bg-transparent border-0"  data-bs-toggle="modal" data-bs-target="#privacyModal">Privacy</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mt-5">
          <p class="text-center ls-6" style="font-size: 14px">Copyright &copy; <%= Date.today.year %> - All Rights Reserved - Fiiloblog</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<%= render 'modal/terms' %>
<%= render 'modal/privacy' %>