<main class="min-85vh" data-controller="home" data-home-target="mainContainer" data-per-page="10" data-query="" data-step="initial" data-page="">
  <% if @posts && @posts.length > 0 %>
    <div class="position-relative w-100 py-5 bg-dark-trans-4">
      <div class="container">
        <div class="max-width-550">
          <p class="text-light mb-4" style="font-size: 12px;"><%= @posts[0].created_at.strftime("%d.%m.%Y %H:%M") %></p>
          <h1 class="fs-1 text-light mb-3"><%= @posts[0].title %></h1>
          <p class="text-light mb-4"><%= @posts[0].intro %></p>
          <%= link_to 'Read more', post_path(@posts[0].slug), class: 'btn btn-light rounded-0 py-2' %>
        </div>
      </div>
      <% if @posts[0].cover_image.attached? %>
        <%= image_tag @posts[0].cover_image, class: 'position-absolute start-0 top-0 z-1 cover-img', alt: @posts[0].title %>
      <% else %>
        <%= image_tag get_random_img, class: 'position-absolute start-0 top-0 z-1 cover-img', alt: @posts[0].title %>
      <% end %>
    </div>
  <% end %>
  <div class="container my-5">
    <div class="p-sm-2">
      <div class="row">
        <div class="col-sm-6 offset-sm-6">
          <div class="mb-3">
            <label for="search" class="form-label fs-14 ls-1">Search</label>
            <div class="input-group mb-3">
            <span class="input-group-text bg-gold" id="basic-search">
              <i class="fas fa-search"></i>
            </span>
              <input type="text" data-home-target="query" data-action="home#submitSeachQuery" class="form-control outline-none no-shadow-btn shadow ls-1" placeholder="Keyword..." aria-label="Search" aria-describedby="basic-search">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100" data-home-target="homePostsContainer" id="home-posts-container">
      <%= render 'home/post', posts: @posts, pagy: @pagy %>
    </div>
  </div>
</main>