<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <p class="text-danger my-3">Please fill all the required fields marked with *</p>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, 'Name *', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control rounded-0' %>
  </div>

  <div class="mb-3">
    <%= form.label :email, 'Email *', class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control rounded-0' %>
  </div>

  <div class="mb-3">
    <%= form.label :phone, class: 'form-label' %>
    <%= form.text_field :phone, class: 'form-control rounded-0' %>
  </div>

  <div class="mb-3">
    <%= form.label :message, 'Message *', class: 'form-label' %>
    <%= form.text_area :message, rows: 3, class: 'form-control rounded-0' %>
  </div>

  <div class="d-grid my-3">
    <%= form.submit 'Submit', class: 'btn btn-dark rounded-0' %>
  </div>
<% end %>
