<main class="min-85vh">
  <div class="container">
    <div class="max-width-680 mx-auto shadow p-3 mt-4">
      <div class="text-end my-3">
        <%= link_to 'Edit', admin_contact_path(@contact), class: 'btn btn-outline-dark rounded-0 me-3' %>
        <%= link_to 'Back', admin_contacts_path, class: 'btn btn-dark rounded-0' %>
      </div>
      <div>
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td>Name</td>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= @contact.email %></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><%= @contact.phone %></td>
          </tr>
          <tr>
            <td>Message</td>
            <td><%= @contact.message %></td>
          </tr>
          <tr>
            <td>Extra Info</td>
            <td><%= @contact.extra_info %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
