<main class="min-85vh py-4">
  <div class="container">
    <div class="my-3 text-end">
      <%= link_to 'Back to posts', authors_posts_path, class: 'btn btn-dark rounded-0' %>
    </div>
    <div>
      <h1 class="fs-2">Add new post</h1>
      <div class="mt-5">
        <%= form_with(model: [:authors, @post]) do |form| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2 class="fs-5 text-danger"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul class="text-dark" style="font-size: 14px;">
                <% @post.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            <%= form.label :title, class: 'form-label' %>
            <%= form.text_field :title, class: 'form-control' %>
          </div>

          <div class="mb-5">
            <%= form.label :intro, 'Introduction text (Summary text)', class: 'form-label' %>
            <%= form.text_area :intro, class: 'form-control', rows: '4' %>
          </div>

          <div class="d-grid">
            <%= form.submit 'Continue', class: 'btn btn-dark rounded-0' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</main>
