<main class="min-85vh">
  <div class="position-relative w-100 py-5 bg-dark-trans-4">
    <div class="container">
      <div class="max-width-550">
        <p class="text-light mb-4" style="font-size: 12px;">12.12.2020</p>
        <h1 class="fs-1 text-light mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod eros quam, a sodales augue fringilla vitae</h1>
        <p class="text-light mb-4">Suspendisse eget blandit mauris. Duis feugiat feugiat arcu, vulputate consequat metus tincidunt quis. In tincidunt sit amet nunc eu auctor. Donec ultrices viverra velit, ut pulvinar dolor auctor quis. Nam at felis a arcu molestie eleifend.</p>
        <%= link_to 'Read more', root_path, class: 'btn btn-light rounded-0 py-2' %>
      </div>
    </div>
    <%= image_tag 'html_5.jpeg', class: 'position-absolute start-0 top-0 z-1 cover-img', alt: 'alt' %>
  </div>
  <div class="container mt-5">
    <div class="blog-cards w-100 d-flex flex-wrap">
      <div>
        <div class="w-100p h-100 rounded-3 border shadow">
          <div class="w-100 height-240 p-1">
            <%= image_tag 'html_5.jpeg', class: 'cover-img rounded-3', alt: 'alt' %>
          </div>
          <div class="py-4 px-3">
            <p class="" style="font-size: 12px">12.12.2020</p>
            <h2 class="fs-5 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <div class="d-flex align-items-center mb-2">
              <i class="fas fa-user"></i>
              <p class="mb-0 ms-2" style="font-size: 14px">Abdishakur Hassan</p>
            </div>
            <div class="d-flex align-items-center">
              <i class="fas fa-tags"></i>
              <p class="mb-0 ms-2" style="font-size: 14px">
                <a href="">HTML</a>,
                <a href="">CSS</a>,
                <a href="">Rails</a>
              </p>
            </div>
            <div class="h-100 d-flex flex-column mt-4">
              <p class="mb-3" style="font-size: 14px;">Duis feugiat feugiat arcu, vulputate consequat metus tincidunt quis. In tincidunt sit amet nunc eu auctor. Donec ultrices viverra velit, ut pulvinar dolor auctor quis.</p>
              <div>
                <%= link_to 'Read more', root_path, class: 'btn btn-dark rounded-0' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="w-100p h-100 rounded-3 border"></div>
      </div>
      <div>
        <div class="w-100p h-100 rounded-3 border"></div>
      </div>
      <div>
        <div class="w-100p h-100 rounded-3 border"></div>
      </div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Intro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= post.title %></td>
        <td><%= post.intro %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
</main>