<main class="min-85vh">
  <div class="position-relative w-100 py-5 bg-dark-trans-4">
    <div class="container">
      <div class="max-width-550 text-light py-5">
        <h1 class="fs-1 mb-3"><%= @post.title %></h1>
        <p style="font-size: 14px;"> <%= @post.intro %></p>
      </div>
    </div>
    <% if @post.cover_image.attached? %>
      <%= image_tag @post.cover_image, class: 'position-absolute start-0 top-0 z-1 cover-img', alt: @post.title %>
    <% else %>
      <%= image_tag get_random_img, class: 'position-absolute start-0 top-0 z-1 cover-img', alt: @post.title %>
    <% end %>
  </div>
  <div class="container">
    <div class="max-width-680 mx-auto pt-5">
      <div class="text-end">
        <% if current_user&.admin? %>
            <%= link_to 'Edit post', edit_authors_post_path(@post), class: 'btn btn-dark rounde-0' %>
        <% end %>
        <% if current_user&.author? && @post.user == current_user %>
          <%= link_to 'Edit post', edit_post_path(@post), class: 'btn btn-dark rounde-0' %>
        <% end %>
      </div>
      <p class="mb-3 d-flex">
        <span class="d-block me-3"><i class="far fa-calendar"></i></span>
        <span class="d-block"><%= @post&.created_at&.strftime("%d.%m.%Y %H:%M") %></span>
      </p>
      <p class="mb-3 d-flex">
        <span class="d-block me-3"><i class="far fa-user"></i></span>
        <span class="d-block"><%= @post.user.full_name %></span>
      </p>

      <div class="py-5">
        <% @post.blog_elements.each do |element| %>
          <% if element.element_type == 'paragraph' %>
            <%= element.content %>
          <% end %>
          <% if element.element_type == 'image' && element.blog_image.attached? %>
            <div class="max-width-550 mx-auto my-5">
              <%= image_tag element.blog_image, class: 'img-fluid rounded-3', alt: element.blog_image_caption %>
              <p class="mt-3" style="font-size: 14px;"><%= element.blog_image_caption %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container py-4">
    <h3 class="fs-4 mb-3">Comments</h3>
    <div class="border rounded-3 p-2 p-sm-3">
      <% if current_user %>
        <%= render 'comments/form', post: @post, comment: @comment %>
      <% else %>
        <p>Please <%= link_to 'Login', new_user_session_path  %> or <%= link_to 'Sign up', new_user_registration_path %> to leave a comment.</p>
      <% end %>

      <ul class="list-unstyled">
        <% @post.comments.each do |comment| %>
        <li class="d-flex flex-column flex-sm-row align-items-center mb-3 border-top">
          <div class="w-sm-100 d-flex flex-row flex-sm-column justify-content-between border-end pe-sm-3 my-2 my-sm-0" style="min-width: 150px;">
            <div class="rounded-pill bg-light mx-sm-auto shadow" style="width: 64px; height: 64px;"></div>
            <% if current_user == comment.user %>
              <p class="mt-3 text-center pe-2 pe-sm-0"><%= link_to comment.user.full_name, edit_user_registration_path, class: 'text-dark' %></p>
            <% else %>
              <p class="mt-3 text-center pe-2 pe-sm-0"><%= comment.user.full_name %></p>
            <% end %>
          </div>
          <div class="w-100 d-flex flex-column justify-content-center border rounded-3 shadow-sm mx-2 mx-sm-0 ms-sm-3 my-2 my-sm-3 p-2" style="min-height: 120px;">
            <p class="text-end mb-2" style="font-size: 12px"><%= comment.created_at&.strftime("%d.%m.%Y %H:%M") %></p>
            <p class="mb-2"><%= comment.comment %></p>
            <% if current_user == comment.user %>
              <div class="text-end">
                <button class="btn btn-sm btn-warning shadow rounded-0 me-2 me-sm-3" data-id="<%= comment.id %>" data-bs-toggle="modal" data-bs-target="#editCommentModal">Edit</button>
                <button class="btn btn-sm btn-danger shadow rounded-0">Delete</button>
              </div>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>